<mat-card class ="example-card" *ngFor = "let user of users$">
   
    <mat-panel-title>
            <button class="add" mat-raised-button color="primary" (click)="pushToFB(user.id, user.name,user.email)" (click)="onSubmit(user.email)">Create Account</button> 

        {{user.id}}) User Name: {{user.name}} <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email Address: {{user.email}}
    </mat-panel-title>

<!--
    <span style="float:right" *ngIf = "todo.completed == true">
        <mat-checkbox checked = "true" [disabled]= "true">

        </mat-checkbox>
    </span>
    <span style="float:right" *ngIf = "todo.completed == false">
        <mat-checkbox [disabled]="true">
                
        </mat-checkbox>
    </span> -->
    <br>
</mat-card>


          