<mat-card>
        <h1>New Todo</h1>
        <form #todoForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
            <mat-form-field>
                <input 
                    matInput placeholder="What would you like TODO?"
                    [(ngModel)] = "title"
                    name = "title">
            </mat-form-field>                  
            <div >
                <button mat-raised-button color="primary" [disabled]="!todoForm.form.valid">Add</button>
                <button mat-raised-button [routerLink]="'/todos'" >Cancel</button>
            </div>
          </div>
        </form>
        </mat-card>