<button mat-raised-button color="primary"[routerLink]="'/todosform'">Add Todo</button>

<mat-card class ="example-card" *ngFor = "let todo of todos$ | async">
   
        <mat-panel-title *ngIf = "todo.complete == 'false' ">{{todo.title}} </mat-panel-title>
        <mat-panel-title *ngIf = "todo.complete == 'true' " style="color: green">{{todo.title}} </mat-panel-title>

<button mat-raised-button color="primary" (click)='changeState(todo.id)' *ngIf = "todo.complete == 'true'" [disabled]="true" >Done</button>
<button mat-raised-button color="primary" (click)='changeState(todo.id)' *ngIf = "todo.complete == 'false'"  >Done</button>



</mat-card>
          