<mat-card class ="example-card" *ngFor = "let todo of todos$ | async">
        <mat-panel-title>
             {{todo.title}}
        </mat-panel-title>
    
        <span style="float:right" *ngIf = "todo.completed == true">
            
                    <mat-checkbox  [checked]="true" (click)="changeState(todo.id, todo.completed)"></mat-checkbox> 
     
        </span>
        <span style="float:right" *ngIf = "todo.completed == false">
                <mat-checkbox  (click)="changeState(todo.id, todo.completed)"></mat-checkbox>

        </span>
    </mat-card>
              