<mat-accordion>
        
       <!--  <button mat-raised-button color="primary" [routerLink]="'/postform'"> Add Post</button> -->
         
            <mat-expansion-panel *ngFor = "let user of users$ | async">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    {{user.name}}
                    <!--<button mat-raised-button class="like" color="primary" (click)="addLikes(post.id, post.likes)">LIKE <span>{{post.likes}}</span></button> -->
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                </mat-expansion-panel-header> 
                <!--
                <h3>body:</h3>{{post.body}}                              
                <button mat-raised-button color="primary" [routerLink]="'/postform/'+post.id">Edit</button>
                <button mat-raised-button color="primary" (click) = "deletePost(post.id)">Delete</button>
                -->
                {{user.email}}
            </mat-expansion-panel>
        </mat-accordion>
        