<mat-card>
        <h1>New Post</h1>
        <form #postForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
            <mat-form-field>
                <input 
                    matInput placeholder="title"
                    [(ngModel)] = "title"
                    name = "title">
            </mat-form-field> 
            <br><br>
            <mat-form-field>
                    <textarea 
                        matInput placeholder="body"
                        [(ngModel)] = "body"
                        name = "body"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="10"
                        cdkAutosizeMaxRows="20" >
                 </textarea>

            </mat-form-field>                   
            <div >
                <button mat-raised-button color="primary" [disabled]="!postForm.form.valid">{{buttonText}}</button>
                <button mat-raised-button [routerLink]="'/savedposts'" >Cancel</button>
            </div>
          </div>
        </form>
        </mat-card>